# --- SEGURIDAD (API KEYS) ---
.env
.env.local

# --- JAVA & SPRING BOOT ---
*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# --- GRADLE ---
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# --- IDEs (IntelliJ, VS Code) ---
.idea/
*.iml
*.iws
.vscode/
.settings/
.classpath
.project
.factorypath

# --- SISTEMA ---
.DS_Store
Thumbs.db
